.header-container {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: .5s;
}

.desktop-header-content-wrapper {
    width: 80rem;
    margin: auto;
    display: flex;
}
.desktop-header-content-wrapper .logo {
    height: 3rem;
    /* background-color: #4d4d4d; */
    padding: .25rem;
    box-sizing: content-box;
    border-radius: 10px;
    /* filter: grayscale(100); */
}
.desktop-header-content-wrapper .nav-buttons {
    margin-left: auto;
    width: 50%;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desktop-header-content-wrapper .nav-buttons .nav-link:hover {
    cursor: pointer;
    color: #4D4D4D;
}
.desktop-header-content-wrapper .nav-buttons .nav-link {
    font-weight: 900;
}
.desktop-header-content-wrapper .nav-link.to-login {
    border: solid white 1px;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: .5s;


}
.desktop-header-content-wrapper .nav-link.to-login:hover {
    background-color: white;
    transition: .5s;
    cursor: pointer;
    color: hsl(29, 90%, 48%);
}


.scrolled {
    background-color: hsla(0, 0%, 95%, 0.95);
    transition: .5s;
}
.scrolled .desktop-header-content-wrapper .nav-buttons {
    color: #4D4D4D;
}
.scrolled .desktop-header-content-wrapper .nav-link.to-login {
    border: solid #4D4D4D 1px;
}
.scrolled .desktop-header-content-wrapper .nav-link.to-login:hover {
    background-color: #4D4D4D;
    color: white;
}
.scrolled .desktop-header-content-wrapper .logo {
    background: linear-gradient(to left, hsl(29, 90%, 48%), hsla(29, 90%, 48%, 0.464));
}
.mobile-header-content-wrapper {
    display: none;
}

@media (max-width: 768px)
{
    .desktop-header-content-wrapper {
        display:none;
    }
    .header-container {
        height: 3rem;
        width: 100vw;
    }
    .mobile-header-content-wrapper {
        /* background-color: blue; */
        height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        color: white;
    }
    .logo {
        height: 2.5rem;
        width: auto;
        margin-left:.5rem;
        padding: .2rem;
        border-radius: 10px;
    }
    .scrolled .mobile-header-content-wrapper .logo {
        background: linear-gradient(to left, hsl(29, 90%, 48%), hsla(29, 90%, 48%, 0.464));
    }
    .nav-menu {
        margin-left: auto;
        position: relative;
        display: flex;
    }

    .burger-menu {
        margin-right: 1rem;
        height: 2.5rem;
    }
    .burger-menu-icon {
        color: green;
        height: 100%;
        padding: .3rem;
        border-radius: 10px;
    }
    .scrolled .mobile-header-content-wrapper .burger-menu-icon {
        background-color: #4D4D4D;
        transition: .5s;
    }
    .menu-buttons {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 2rem;
        gap: 1rem;
        padding: 1rem;
        background-color: #4d4d4dda;
        margin-top: 1rem;
        border: solid white 1px;
        opacity: 0%;
        display: hidden;
    }
    .menu-buttons .nav-link {
        font-size: 1rem;
        width: fit-content;
    }
    .menu-buttons.show {
        opacity: 100%;
        display:flex;
        transition: .5s;
    }

}