.header-container {
    border: solid blue;
    position: fixed;
    width: 100%;
    height: 125px;

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.header-container a {
    font-size: 50px;
}