.header-container {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: .5s;
}

.header-content-wrapper {
    width: 80rem;
    margin: auto;
    display: flex;
}
.header-content-wrapper .logo {
    height: 3rem;
    /* background-color: #4d4d4d; */
    padding: .25rem;
    box-sizing: content-box;
    border-radius: 10px;
    filter: grayscale(100);
}
.header-content-wrapper .nav-buttons {
    margin-left: auto;
    width: 50%;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-content-wrapper .nav-buttons .nav-link:hover {
    cursor: pointer;
    color: #4D4D4D;
}
.header-content-wrapper .nav-buttons .nav-link {
    font-weight: 900;
}
.header-content-wrapper .nav-link.to-login {
    border: solid white 1px;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: .5s;


}
.header-content-wrapper .nav-link.to-login:hover {
    background-color: white;
    transition: .5s;
    cursor: pointer;
    color: hsl(29, 90%, 48%);
}


.scrolled {
    background-color: hsl(0, 0%, 95%);
    transition: .5s;
}
.scrolled .header-content-wrapper .nav-buttons {
    color: #4D4D4D;
}
.scrolled .header-content-wrapper .nav-link.to-login {
    border: solid #4D4D4D 1px;
}
.scrolled .header-content-wrapper .nav-link.to-login:hover {
    background-color: #4D4D4D;
    color: white;
}
.scrolled .header-content-wrapper .logo {
    background-color: #4D4D4D;
}