/*Mobile First Approach*/
.dashboard-container {
    max-width: 100%;
    height: fit-content;
}
.dashboard-header {
    height: 4rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: green;
}

.dashboard-bento-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 10rem;
    grid-auto-flow: row;
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
    gap: 1rem;
    max-width: 120rem;
    margin: auto;
    justify-content: center;
}
.dashboard-bento-layout > * {
    border-radius: 10px;
    border: solid orange 2px;
    background-color: hsl(0, 0%, 90%);
}


.content-placeholder {
    grid: span 1;
}
.content-placeholder.tall {
    grid-row: span 2;
}
.content-placeholder.two {
    grid-column: span 1;
}

/*landscape phone/tablet sizing */
@media (min-width: 700px) {
    .dashboard-bento-layout {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15rem;
    }
    .content-placeholder.two {
        grid-column: span 2;
    }


}
/* desktop screen */
@media (min-width: 1025px) {
    .dashboard-bento-layout {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 20rem;
    }

    .content-placeholder.two {
        grid-column: span 2;
    }

}
