.footer-container 
{
    background-color: #4D4D4D;
    height: 30rem;
    border-top: solid 2px hsl(29, 90%, 48%);
    position: relative;
    max-width: 100vw ;
}
.footer-content-wrapper {
    width: 85rem;
    height: 100%;
    margin: auto;
    position: relative;
}
.footer-logo {
    position: absolute;
    height: 20rem;
    width: auto;
    opacity: 100%;
    filter:  contrast(0) drop-shadow(1px 1px 0px white);
    left: 0;
    top: 50%;
    transform: translateY( -50%);
    opacity: 50%;
    pointer-events: none;
    
}
.footer-content {
    height: 100%;
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-top: 3rem;
    gap: 1rem;
}
.footer-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.footer-tag h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
.footer-tag .register-link {
    border: solid;
    width: fit-content;
    font-size: 1.5rem;
    padding: 1rem 3rem 1rem 3rem;
}
.footer-tag .register-link:hover {
    background-color: white;
    color: #4D4D4D;
    cursor: pointer;
}
.footer-nav-links {
    /* border: solid; */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: solid white;
    height: fit-content;
    padding: 1rem;
}
.footer-nav-links * {
    cursor: pointer;
}
@media (max-width: 768px) {
    .footer-container {
        max-width: 100vw;
        overflow: hidden;
    }
    .footer-content-wrapper {
        width: 100%;
        max-width: 100vw;
    }
    .footer-content {
        padding: 2rem;
        width: 100%;
    }
    .footer-tag {
        display: flex;
    }
    .footer-tag h2 {
        font-size: 2rem;
        text-align: left;
        text-align: center;
    }
    .footer-tag .register-link {
        font-size: 1rem;
        padding-top: 1rem;
    }
    .footer-nav-links {
        flex: 0;
        width: 20rem;
    }
    .footer-logo {
        width: 90%;
        height: auto;
        bottom: 0;
        margin-top: auto;
        
    }


}
