.auth-page-layout {
    width: 100%;
    height: 100vh;
    display: flex;
}
.page-left-img {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
}
.page-left-img .logo {
    position: fixed;
    width: 30vw;
    top: 10vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 1;
}
.page-left-img .stock-truck-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(70%);
}

.page-right-forms {
    flex-grow: 1;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.page-right-forms .home-link {
    position: fixed;
    top: 20px;
    left: 61%;
    padding: 10px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 1.5em;
}

.page-right-forms .home-link:hover {
    background-color: hsl(0, 0%, 85%);
}