.hiw-container {
    height: 150rem;
    width: 100%;
    margin: auto;
    margin-top: -100rem;
    margin-bottom: 5rem;
}
.hiw-wrapper {
    width: 60rem;
    height: 150rem;
    margin: auto;
    background-color: hsl(0, 0%, 95%);
    position: relative;
    border-radius: 20px;
    display: flex;
}
.hiw-wrapper .hiw-left-section {
    background-color: #4D4D4D;
    width: 26rem;
    height: 100%;
    padding: 2rem;
    border-radius: 20px ;
}
.hiw-wrapper .hiw-left-section .hiw-title H1 {
    color: hsl(0, 0%, 95%);
    width: 1rem;
    font-size: 4rem;
}
.hiw-wrapper .hiw-left-section .hiw-title h2 {
    color: hsl(0, 0%, 95%);
    font-weight: 200;
    font-size: 1.5rem;
    width: 20rem;
    border-radius: 10px;
    text-align: center;
}
.hiw-wrapper .hiw-left-section .hiw-title h2 span {
    color: hsl(29, 90%, 48%);
    text-transform: uppercase;
    font-weight: 600;
}
.hiw-title {
    position: sticky;
    top: 13rem;
    height: 28rem;
}

.hiw-right-section {
    height: 100%;
    border-radius: 20px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    width: 35.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing:content-box;
}
.hiw-step {
    height: 20rem;
    display: flex;
    flex-direction: row;
    /* border: solid; */
    height: 10rem;
    position: sticky;
    top: 5rem;
}
.hiw-step.drive {
    top: 10rem;
    padding-bottom: 35rem;
}
.hiw-step.earn {
    top:20rem;
    padding-bottom: 25rem;
}
.hiw-step.rewards {
    top: 30rem;
    padding-bottom: 15rem;

}
.hiw-step .step-content {
    width: 25rem;
    margin:auto;

}
.hiw-step .step-content h2 {
    /* border: solid; */
    font-size: 3rem;
    letter-spacing: .5rem;
    color: hsl(29, 90%, 48%);
    filter: drop-shadow(1px 1px black);


    
}
.hiw-step .step-content p {
    padding-top: 1rem;
    font-weight: 600;
}
.hiw-step .logo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: hsl(29, 90%, 48%);
    padding: 6px;
    filter: drop-shadow(3px 5px);
    flex-shrink: 0;
}
.hiw-step .logo svg {
    width: 100%;
    height: 100%;
}

.road-path {
    height: 100%;
    width:15rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-60%) ;
}

























