.partners-container {
    height: 20rem;
    background-color: hsl(29, 90%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.carousel {
    width: 85rem;
    overflow: hidden;
    padding: 3rem;
    position: relative;
}
.carousel::after {
    content: '';
    position: absolute;
    height: 13rem;
    width: 85rem;
    background:linear-gradient(to left, hsl(29, 90%, 48%), hsla(29, 90%, 48%, 0),  hsl(29, 90%, 48%));
    top: 0;
    left: 0;
    pointer-events: none;
}

.icon-wrapper {
    display: flex;
    animation: scroll 15s infinite linear;
    width: 85rem;
}
.icon-wrapper:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
    
}
.icon-container, .icon-container-copy {
    display: flex;
    width: 85rem;
    /* border: solid white; */
    justify-content: space-around;
    flex-shrink: 0;
}
.icon-wrapper img{
    width: 8rem;
    filter: grayscale(10);
    opacity: 50%;
    transition: .5s;
    border-radius: 50%;

}
.icon-wrapper img:hover {
    filter: grayscale(0);
    opacity: 100%;
    transition: .5s;
    cursor: pointer;
    transform: scale(1.3);
    filter: drop-shadow(3px 3px 5px #2d2d2e);
}