.hero-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto min-content;
    padding: 10px;
}
.hero-container > * {
    border: solid blue;
}

.hero-incentive {
    grid-column: span 2;
    font-size: 40px;
    pointer-events: none;

}